<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/video.css">
    <title>Відеопередавач</title>
</head>
<body>
     <div class="container">
        <h1>Довідковий сайт на тему FPV дронів</h1>
      
    </div>
    <div class="initials">
        <p id="apiMessage"></p>
    </div>
     <video width="640" height="360" controls autoplay muted>
        <source src="/photos/drone_video.mp4" type="video/mp4">
        Ваш браузер не підтримує відтворення відео.
    </video>
    <a class="back_video" href="/">Повернутись на головну</a>
    
    <script>
       
    </script>
</body>
</html>
