<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Загальні відомості</title>
</head>
<body>
    
   <div class="container">
        <h1>Довідковий сайт на тему FPV дронів</h1></div>
    <div class="maininformation">
        <h1 class="discleimer">Даний сайт було розроблено студенткою ФЕІ-21 Зімірською Юліаною для того щоб краще познайомитись із будовою FPV дронів, а також перевірити засвоєні знання пройшовши тестування. Сайт містить основні компоненти FPV дрона, а також додаткові.</h1>
        <p class="courses">Інформація та подальші скріншоти було взято із курсу "Народний FPV", а також з особистих архівів.</p>

    </div>
    
        <p class="api" id="apiMessage"></p>
   
             <img class="drone" src="/photos/drone.jpg" alt="drone image">
    <ul class="components">
    <li><a href="/maindetails">Будова FPV дрона</a></li>
        
    <li><a href="/rama">Рама</a></li>
        <li><a href="/propelers">Гвинти та пропелери</a></li>
        <li><a href="/motors">Мотори</a></li>
        <li><a href="/controler">Польотний контролер</a></li>
        <li><a href="/spin">Регулятор обертів</a></li>
        <li><a href="/video">Відеопередавач</a></li>
        <li><a href="/camera">Курсова камера</a></li>
        <li><a href="/radio">Радіоприймач</a></li>
        <li><a href="/antena">Антени</a></li>
        <li><a href="/battery">Батареї та стрепи</a></li>
        <li><a href="/adding">Додаткове обладнання</a></li>
        <li><a href="/testing">Перейти до тестування</a></li>

    <script>
        // Виклик API для отримання повідомлення
        fetch('/api')
            .then(response => response.json())
            .then(data => {
                document.getElementById('apiMessage').innerText = data.message;
            })
            .catch(error => console.error('Error fetching the API:', error));

    </script>


</body>
</html>
